.headercont{
  display: flex;
}

// 600
@media (max-width: 600px) {
  .headercont{
    flex-direction: column;
  }
}

// 480
@media (max-width: 480px) {
  .headercont{
    flex-direction: column;
  }
}

// 320
@media (max-width: 320px) {
  .headercont{
    flex-direction: column;
  }
}