@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --font-family: "Poppins", sans-serif;
  --content-width: 968px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --font-r: 400;
  --font-m: 500;
  --font-sb: 600;
  --h-tr: all 0.5s ease;
  --d-tr: all 0.3s ease;
}

.header-acide, .dashboard-box {
  -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
p,
h3,
h2,
h1 {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

.btn-reset {
  border: none;
  background: #f2f2f2;
  border-radius: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: var(--font-r);
  height: 46px;
  padding: 0px 20px;
  width: 100%;
  cursor: pointer;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  font-weight: var(--font-r);
  font-size: 14px;
  line-height: 18px;
  color: #9197B3;
  background: #FAFBFF;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #fff;
}

.site-container {
  overflow: hidden;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.container {
  margin: 0 auto;
  width: var(--container-width);
}

.acide-container {
  width: 242px;
  padding: 0 28px;
}

.dashboard-container {
  width: 998px;
  margin: 0 auto;
  padding: 0 38px;
}

.headercont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard {
  padding: 41px 95px 0 71px;
}
.dashboard-inner__title h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: var(--font-m);
  color: #000000;
}
.dashboard-box {
  margin-top: 51px;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 30px;
}
.dashboard-box__title {
  width: 980px;
  padding: 30px 38px 40px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.dashboard-box__title h2 {
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  font-weight: var(--font-sb);
  margin-bottom: 10px;
}
.dashboard-box__title p {
  color: #16C098;
}
.dashboard-box__title--search label {
  position: relative;
}
.dashboard-box__title--search label::before {
  position: absolute;
  content: "";
  background-image: url("/img/svg/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 24px;
  height: 24px;
  top: -8%;
  left: 3%;
}
.dashboard-box__title--search input {
  border: none;
  outline: none;
  background: #F9FBFF;
  width: 216px;
  height: 38px;
  border-radius: 10px;
  padding: 10px 0 10px 40px;
  font-size: 12px;
  line-height: 18px;
  color: #B5B7C0;
}
.dashboard-category {
  padding: 0 57px 0 38px;
}
.dashboard-category ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.dashboard-category ul li h2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--font-m);
  color: #B5B7C0;
}
.dashboard-category__company {
  margin: 0 61px 0 57px;
}
.dashboard-category__email {
  margin: 0 168px 0 52px;
}
.dashboard-category__status {
  margin-left: 96px;
}
.dashboard-category__globline {
  margin-top: 14px;
  width: 100%;
  border: 1px solid #EEEEEE;
}
.dashboard-list {
  padding: 0 57px 0 38px;
  margin-top: 20px;
}
.dashboard-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
}
.dashboard-list ul li h2, .dashboard-list ul li a {
  font-size: 12px;
  line-height: 18px;
  font-weight: var(--font-m);
  color: #292D32;
}
.dashboard-list__name {
  width: 118px;
}
.dashboard-list__company {
  margin-left: 59px;
  width: 64px;
}
.dashboard-list__phone {
  width: 104px;
  margin-left: 67px;
}
.dashboard-list__email {
  width: 169px;
  margin-left: 52px;
}
.dashboard-list__country {
  width: 94px;
  margin-left: 37px;
}
.dashboard-list__status {
  width: 80px;
  margin-left: 47px;
}
.dashboard-list__status button {
  width: 80px;
  height: 29px;
  color: #008767;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #008767;
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: var(--font-m);
}
.dashboard-list__line {
  margin-top: 20px;
  border: 1px solid #EEEEEE;
}
.dashboard-navig {
  padding: 30px 38px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.dashboard-navig__data p {
  font-size: 14px;
  line-height: 18px;
  font-weight: var(--font-m);
  color: #B5B7C0;
}
.dashboard-navig__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 2%;
}
.dashboard-pagination__prev, .dashboard-pagination__next, .dashboard-pagination__number {
  background: #F5F5F5;
  border: 1px solid #EEEEEE;
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.dashboard-pagination__prev img, .dashboard-pagination__next img, .dashboard-pagination__number img {
  width: 8px;
  height: 12px;
}
.dashboard-pagination__next {
  margin-left: 12px;
}
.dashboard-pagination__number {
  margin-left: 12px;
}
.dashboard-pagination__number p {
  font-size: 12px;
  line-height: 18px;
  font-weight: var(--font-m);
  color: #404B52;
}

.active {
  background: #5932EA;
  border-color: #5932EA;
}
.active p {
  color: #fff;
}

.inactive button {
  text-align: center;
  background: #FFC5C5;
  color: #DF0404;
  border: 1px solid #DF0404;
}

.header-acide {
  min-width: 306px;
  height: 100%;
  background: #fff;
}
.header-acide__box {
  width: 242px;
  padding: 36px 28px;
}
.header-acide__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.header-acide__logo--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.header-acide__logo--text h2 {
  font-size: 26px;
  line-height: 30px;
  font-weight: var(--font-sb);
  color: #000000;
  margin: 0 4px 0 8px;
}
.header-acide__logo--text p {
  font-size: 10px;
  line-height: 18px;
  font-weight: var(--font-m);
}
.header-acide__list {
  margin-top: 54px;
}
.header-acide__list ul li {
  width: 250px;
}
.header-acide__list ul li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 46px;
  width: 100%;
  background: transparent;
  border-radius: 8px;
  padding-left: 11px;
}
.header-acide__list ul li button p {
  color: #9197B3;
  font-weight: var(--font-m);
  text-align: left;
  padding-left: 10px;
}
.header-acide__list ul li button.active {
  background: #5932EA;
}
.header-acide__list ul li button.active p {
  color: #fff;
}
.header-acide__list ul li button.active svg path {
  stroke: #fff;
}
.header-acide__list ul li button svg {
  margin-right: 14px;
}
.header-acide__list ul li + li {
  margin-top: 10px;
}
.header-acide__btn--arrow {
  position: relative;
}
.header-acide__btn--arrow.active:before {
  background-image: url("/img/svg/acid-chevrone-1-white.svg");
}
.header-acide__btn--arrow::before {
  position: absolute;
  content: "";
  background-image: url("/img/svg/acid-chevrone-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
  top: 35%;
  right: 5%;
}
.header-acide__user {
  margin: 597px 0 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-acide__user--text {
  margin-left: 12px;
}
.header-acide__user--text h2 {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--font-m);
  color: #000000;
}
.header-acide__user--text p {
  font-size: 12px;
  line-height: 18px;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */