@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --font-family: "Poppins", sans-serif;
  --content-width: 1317px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --font-r: 400;
  --font-m: 500;
  --font-sb: 600;
  --h-tr: all 0.5s ease;
  --d-tr: all 0.3s ease;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
p,
h3,
h2 {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

.btn-reset {
  border: none;
  background: #f2f2f2;
  border-radius: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: var(--font-r);
  height: 46px;
  padding: 0px 20px;
  width: 100%;
  cursor: pointer;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  font-weight: var(--font-r);
  font-size: 14px;
  line-height: 18px;
  color: #9197B3;
  background: #FAFBFF;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #fff;
}

.site-container {
  overflow: hidden;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: var(--container-width);
}

.acide-container {
  width: 242px;
  padding: 0 28px;
}

.header-acide {
  width: 306px;
  height: 100vh;
  background: #fff;
}
.header-acide__box {
  width: 242px;
  padding: 36px 28px;
}
.header-acide__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.header-acide__logo--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}
.header-acide__logo--text h2 {
  font-size: 26px;
  line-height: 30px;
  font-weight: var(--font-sb);
  color: #000000;
  margin: 0 4px 0 8px;
}
.header-acide__logo--text p {
  font-size: 10px;
  line-height: 18px;
  font-weight: var(--font-m);
}
.header-acide__list {
  margin-top: 54px;
}
.header-acide__list ul li {
  width: 250px;
}
.header-acide__list ul li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 46px;
  width: 100%;
  background: transparent;
  border-radius: 8px;
  padding-left: 11px;
}
.header-acide__list ul li button p {
  color: #9197B3;
  font-weight: var(--font-m);
  text-align: left;
  padding-left: 10px;
}
.header-acide__list ul li button.active {
  background: #5932EA;
}
.header-acide__list ul li button.active p {
  color: #fff;
}
.header-acide__list ul li button.active svg path {
  stroke: #fff;
}
.header-acide__list ul li button svg {
  margin-right: 14px;
}
.header-acide__list ul li + li {
  margin-top: 10px;
}
.header-acide__btn--arrow {
  position: relative;
}
.header-acide__btn--arrow.active:before {
  background-image: url("/img/svg/acid-chevrone-1-white.svg");
}
.header-acide__btn--arrow::before {
  position: absolute;
  content: "";
  background-image: url("/img/svg/acid-chevrone-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
  top: 35%;
  right: 5%;
}
/*# sourceMappingURL=main.css.map */