<div class="dashboard">
    <div class="container">
       <div class="dashboard-inner">
           <div class="dashboard-inner__title">
               <h1>
                   Hello Evano 👋🏼,
               </h1>
           </div>
           <div class="dashboard-box">
               <div class="dashboard-box__title">
                   <div class="dashboard-box__title--text">
                       <h2>All Customers</h2>
                       <p>Active Members</p>
                   </div>
                   <div class="dashboard-box__title--search">
                       <label for="search">
                           <input type="search" placeholder="Search">
                       </label>
                   </div>
               </div>
               <div class="dashboard-category">
                   <ul>
                       <li class="dashboard-category__name">
                            <h2>
                                Customer Name
                            </h2>
                       </li>
                       <li class="dashboard-category__company">
                           <h2>
                               Company
                           </h2>
                       </li>
                       <li class="dashboard-category__phone">
                           <h2>
                               Phone Number
                           </h2>
                       </li>
                       <li class="dashboard-category__email">
                           <h2>
                               Email
                           </h2>
                       </li>
                       <li class="dashboard-category__country">
                           <h2>
                               Country
                           </h2>
                       </>
                       <li class="dashboard-category__status">
                           <h2>
                               Status
                           </h2>
                       </li>
                   </ul>
               </div>
               <div class="dashboard-category__globline"></div>
               <div class="dashboard-list">

                       <ul>
                           <li class="dashboard-list__name">
                               <h2>
                                   Jane Cooper
                               </h2>
                           </li>
                           <li class="dashboard-list__company">
                               <h2>
                                   Microsoft
                               </h2>
                           </li>
                           <li class="dashboard-list__phone">
                               <a href="tel: 2255550118">
                                   (225) 555-0118
                               </a>
                           </li>
                           <li class="dashboard-list__email">
                               <a href="mail: jane@microsoft.com">
                                   jane@microsoft.com
                               </a>
                           </li>
                           <li class="dashboard-list__country">
                               <h2>
                                   United States
                               </h2>
                           </>
                           <li class="dashboard-list__status">
                               <button>
                                   Active
                               </button>
                           </li>
                       </ul>
                   </div>


           </div>

    </div>
</div>