<div class="dashboard">
    <div class="container">
       <div class="dashboard-inner">
           <div class="dashboard-inner__title">
               <h1>
                   Hello Evano 👋🏼,
               </h1>
           </div>
           <div class="dashboard-box">
               <div class="dashboard-box__title">
                   <div class="dashboard-box__title--text">
                       <h2>All Customers</h2>
                       <p>Active Members</p>
                   </div>
                   <div class="dashboard-box__title--search">
                       <label for="search">
                           <input type="search" placeholder="Search">
                       </label>
                   </div>
               </div>
           </div>
       </div>
    </div>
</div>