<div class="dashboard">
    <div class="container">
        <div class="dashboard-inner">
            <div class="dashboard-inner__title">
                <h1>
                    Hello Evano 👋🏼,
                </h1>
            </div>
            <div class="dashboard-box">
                <div class="dashboard-box__title">
                    <div class="dashboard-box__title--text">
                        <h2>All Customers</h2>
                        <p>Active Members</p>
                    </div>
                    <div class="dashboard-box__title--search">
                        <label for="search">
                            <input type="search" placeholder="Search">
                        </label>
                    </div>
                </div>
                <div class="dashboard-category">
                    <ul>
                        <li class="dashboard-category__name">
                            <h2>
                                Customer Name
                            </h2>
                        </li>
                        <li class="dashboard-category__company">
                            <h2>
                                Company
                            </h2>
                        </li>
                        <li class="dashboard-category__phone">
                            <h2>
                                Phone Number
                            </h2>
                        </li>
                        <li class="dashboard-category__email">
                            <h2>
                                Email
                            </h2>
                        </li>
                        <li class="dashboard-category__country">
                            <h2>
                                Country
                            </h2>
                        </
                        >
                        <li class="dashboard-category__status">
                            <h2>
                                Status
                            </h2>
                        </li>
                    </ul>
                </div>
                <div class="dashboard-category__globline"></div>
                <!--        Item 1        <-->
                <div class="dashboard-list">
                    <ul>
                        <li class="dashboard-list__name">
                            <h2>
                                Jane Cooper
                            </h2>
                        </li>
                        <li class="dashboard-list__company">
                            <h2>
                                Microsoft
                            </h2>
                        </li>
                        <li class="dashboard-list__phone">
                            <a href="tel: 2255550118">
                                (225) 555-0118
                            </a>
                        </li>
                        <li class="dashboard-list__email">
                            <a href="mail: jane@microsoft.com">
                                jane@microsoft.com
                            </a>
                        </li>
                        <li class="dashboard-list__country">
                            <h2>
                                United States
                            </h2>
                        </li>
                        <li class="dashboard-list__status">
                            <button>
                                Active
                            </button>
                        </li>
                    </ul>
                    <div class="dashboard-list__line"></div>
                </div>
                <!--        Item 2        <-->
                <div class="dashboard-list">
                    <ul>
                        <li class="dashboard-list__name">
                            <h2>
                                Floyd Miles
                            </h2>
                        </li>
                        <li class="dashboard-list__company">
                            <h2>
                                Yahoo
                            </h2>
                        </li>
                        <li class="dashboard-list__phone">
                            <a href="tel: 2055550100">
                                (205) 555-0100
                            </a>
                        </li>
                        <li class="dashboard-list__email">
                            <a href="mail: floyd@yahoo.com">
                                floyd@yahoo.com
                            </a>
                        </li>
                        <li class="dashboard-list__country">
                            <h2>
                                Kiribati
                            </h2>
                        </li>
                        <li class="dashboard-list__status  inactive">
                            <button>
                                Inactive
                            </button>
                        </li>
                    </ul>
                    <div class="dashboard-list__line"></div>
                </div>
                <!--        Item 3        <-->
                <div class="dashboard-list">
                    <ul>
                        <li class="dashboard-list__name">
                            <h2>
                                Ronald Richards
                            </h2>
                        </li>
                        <li class="dashboard-list__company">
                            <h2>
                                Adobe
                            </h2>
                        </li>
                        <li class="dashboard-list__phone">
                            <a href="tel: 3025550107">
                                (302) 555-0107
                            </a>
                        </li>
                        <li class="dashboard-list__email">
                            <a href="mail: ronald@adobe.com">
                                ronald@adobe.com
                            </a>
                        </li>
                        <li class="dashboard-list__country">
                            <h2>
                                Israel
                            </h2>
                        </li>
                        <li class="dashboard-list__status inactive">
                            <button>
                                Inactive
                            </button>
                        </li>
                    </ul>
                    <div class="dashboard-list__line"></div>
                </div>
                <!--        Item 4        <-->
                <div class="dashboard-list">
                    <ul>
                        <li class="dashboard-list__name">
                            <h2>
                                Marvin McKinney
                            </h2>
                        </li>
                        <li class="dashboard-list__company">
                            <h2>
                                Tesla
                            </h2>
                        </li>
                        <li class="dashboard-list__phone">
                            <a href="tel: 2525550126">
                                (252) 555-0126
                            </a>
                        </li>
                        <li class="dashboard-list__email">
                            <a href="mail: marvin@tesla.com">
                                marvin@tesla.com
                            </a>
                        </li>
                        <li class="dashboard-list__country">
                            <h2>
                                Iran
                            </h2>
                        </li>
                        <li class="dashboard-list__status">
                            <button>
                                Active
                            </button>
                        </li>
                    </ul>
                    <div class="dashboard-list__line"></div>
                </div>
                <!--        Item 5        <-->
                <div class="dashboard-list">
                    <ul>
                        <li class="dashboard-list__name">
                            <h2>
                                Jerome Bell
                            </h2>
                        </li>
                        <li class="dashboard-list__company">
                            <h2>
                                Google
                            </h2>
                        </li>
                        <li class="dashboard-list__phone">
                            <a href="tel: 6295550129">
                                (629) 555-0129
                            </a>
                        </li>
                        <li class="dashboard-list__email">
                            <a href="mail: jerome@google.com">
                                jerome@google.com
                            </a>
                        </li>
                        <li class="dashboard-list__country">
                            <h2>
                                Réunion
                            </h2>
                        </li>
                        <li class="dashboard-list__status">
                            <button>
                                Active
                            </button>
                        </li>
                    </ul>
                    <div class="dashboard-list__line"></div>
                </div>
                <!--        Item 6      <-->
                <div class="dashboard-list">
                    <ul>
                        <li class="dashboard-list__name">
                            <h2>
                                Kathryn Murphy
                            </h2>
                        </li>
                        <li class="dashboard-list__company">
                            <h2>
                                Microsoft
                            </h2>
                        </li>
                        <li class="dashboard-list__phone">
                            <a href="tel: 4065550120">
                                (406) 555-0120
                            </a>
                        </li>
                        <li class="dashboard-list__email">
                            <a href="mail: kathryn@microsoft.com">
                                kathryn@microsoft.com
                            </a>
                        </li>
                        <li class="dashboard-list__country">
                            <h2>
                                Curaçao
                            </h2>
                        </li>
                        <li class="dashboard-list__status">
                            <button>
                                Active
                            </button>
                        </li>
                    </ul>
                    <div class="dashboard-list__line"></div>
                </div>
                <!--        Item 7       <-->
                <div class="dashboard-list">
                    <ul>
                        <li class="dashboard-list__name">
                            <h2>
                                Jacob Jones
                            </h2>
                        </li>
                        <li class="dashboard-list__company">
                            <h2>
                                Yahoo
                            </h2>
                        </li>
                        <li class="dashboard-list__phone">
                            <a href="tel: 2085550112">
                                (208) 555-0112
                            </a>
                        </li>
                        <li class="dashboard-list__email">
                            <a href="mail: jane@microsoft.com">
                                jacob@yahoo.com
                            </a>
                        </li>
                        <li class="dashboard-list__country">
                            <h2>
                                Brazil
                            </h2>
                        </li>
                        <li class="dashboard-list__status">
                            <button>
                                Active
                            </button>
                        </li>
                    </ul>
                    <div class="dashboard-list__line"></div>
                </div>
                <!--        Item 8        <-->
                <div class="dashboard-list">
                    <ul>
                        <li class="dashboard-list__name">
                            <h2>
                                Kristin Watson
                            </h2>
                        </li>
                        <li class="dashboard-list__company">
                            <h2>
                                Facebook
                            </h2>
                        </li>
                        <li class="dashboard-list__phone">
                            <a href="tel: (704) 555-0127">
                                (704) 555-0127
                            </a>
                        </li>
                        <li class="dashboard-list__email">
                            <a href="mail: kristin@facebook.com">
                                kristin@facebook.com
                            </a>
                        </li>
                        <li class="dashboard-list__country">
                            <h2>
                                Åland Islands
                            </h2>
                        </li>
                        <li class="dashboard-list__status inactive" >
                            <button>
                                Inactive
                            </button>
                        </li>
                    </ul>
                    <div class="dashboard-list__line"></div>
                </div>
            <div class="dashboard-navig">
                <div class="dashboard-navig__data">
                    <p>Showing data 1 to 8 of  256K entries</p>
                </div>
                <div class="dashboard-navig__pagination">
                    <div class="dashboard-pagination__prev">
                        <img src="img/svg/prev.svg" alt="prev">
                    </div>
                    <div class="dashboard-pagination__number active">
                        <p>1</p>
                    </div>
                    <div class="dashboard-pagination__number">
                        <p>2</p>
                    </div>
                    <div class="dashboard-pagination__number">
                        <p>3</p>
                    </div>
                    <div class="dashboard-pagination__next">
                        <img src="img/svg/next.svg" alt="next">
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>