<div class="header-acide">

   <div class="header-acide__box">
     <div class="header-acide__logo">
       <img src="/img/svg/acide-logo.svg" alt="acide-logo">
       <div class="header-acide__logo--text">
         <h2>Dashboard</h2>
         <span>v.01</span>
       </div>

     </div>
     <div class="header-acide__list">
       <ul>
         <li>
           <a href="#">
             <button class="header-acide__btn">Dashboard</button>
           </a>

         </li>
         <li>

             <button class="header-acide__btn header-acide__btn--arrow">
               <img src="/img/svg/acid-icon-1.svg" alt="acide-icon-1">
               <p>
                 Product
               </p>
               
             </button>


         </li>
         <li>
           <button
                   class="header-acide__btn header-acide__btn--arrow active">Customers
           </button>
         </li>
         <li>
           <button class="header-acide__btn header-acide__btn--arrow">Income
           </button>
         </li>
         <li>
           <button class="header-acide__btn header-acide__btn--arrow">Promote
           </button>
         </li>
         <li>
           <button class="header-acide__btn header-acide__btn--arrow">Help
           </button>
         </li>
       </ul>
     </div>
   </div>
  </div>

